<div class="container">
  <h1 class="bg-primary">Clueとは？</h1>
  </br>
  <div class="about-clue">
      </br>
<center><h1>Clueとは、</h1>
<h2 class="text-primary"><strong>学校に行けないなど悩んでいる子&その親</strong></h2>
<h2 class="text-danger"><strong>同じ経験を歩んできた先輩&専門のカウンセラー</strong></h2>
<h1>を繋ぐマッチングサイトです。</h1></center>
</br>
</div><!--about-clue-->
</br>
</br>
<div class="aboutthree">
<h1 class="bg-primary">Clueの特徴</h1>
</br>
<h2 class="bg-info">1.メッセージでの相談・やりとりは無料</h2>
<h2 class="bg-danger">2.日記機能がついているので悩みを吐き出すことが出来ます</h2>
<h2 class="bg-success">3.相談にのる側には本人確認証の登録が必要なので安心・安全</h2>
</br>
</br>
</div>
<div class="adout-use">
<h1 class="bg-primary">Clueの使い方</h1>
</br>
</br>
<center><%= image_tag 'top/tukaikata.jpg' %></center>
 <h1 class="bg-primary">サイト支援協力者様</h1>
 <h2>山田 英人</h2>
 <blockquote class="bg-success">誰にでも、自分にとって何ものにも譲れないものは必ず見つかるものです。御サイトで誰かと繋がることを通して、それを見つけられたら必ず自分の足で立ち上がって一歩を踏み出せる。そんな明日への希望へと変えていけるサイトでありますように。</blockquote>
 <h2>株式会社BYD 代表取締役 井上 創太</h2>
 <blockquote class="bg-info">全ての子供達が "No. 1のOnly 1" になれることを願っています。</blockquote>
 <h2>株式会社アイキューブ 統括取締役 坂本 直弥</h2>
 <blockquote class="bg-danger">学校だけが世界じゃない！</blockquote>
 <h2>脚本家 大河内 聡</h2>
 <blockquote class="bg-success">心の中をさらけ出せる人が誰か一人でもいるだけで、気持ちって楽になりますよね。
あなたのボールをキャッチしてくれる人は必ずいます。</blockquote>
 <h2>高橋 翠</h2>
 <blockquote class="bg-info">経験したことは何一つ無駄ではない。</blockquote>
 <h2>笠原 聡太郎</h2>
 <blockquote class="bg-danger">河合様の想いが、不登校を送った方々の経験が、不安の中を歩いている方の道標となることを願っています！</blockquote>
 <h2>ポン太クラブ 外山 明美</h2>
 <blockquote class="bg-success">助けてくれる人は必ずいる…私も助けてもらった1人です。子供達が自分の希望する道を歩んでいけるよう…応援します！</blockquote>
 <h2>滝本 亮太</h2>
 <blockquote class="bg-info">不登校も一種の卒業！人生なんでもあり☆</blockquote>
 <h2>瀧野瀬 裕介</h2>
 <blockquote class="bg-danger">Clueを通じて、つまづいてもやり直せるチャンスが沢山ある社会になることを切に願っています。</blockquote>
 <h2>田中 真弓</h2>
 <h2>谷田部 圭</h2>
 <h2>飯田 康介</h2>
 <h2>渡邊 繭子</h2>
</div><!--adaut-use-->
</div><!--container-->