<div class="container">
<h1 class="bg-primary">カウンセラーの方へ</h1>
<h2 class="bg-info">Clueは、学校に行けないことで悩んでいる子たち・親御様×同じ経験をした先輩・専門のカウンセラーをマッチングするサイトです。</h2>
<h2 class="bg-success">今まで不登校の子やその親に対してカウンセリングをしてきた経験を活かしたい。</br>
1人でも多くの悩んでいる人たちを救いたい。</br>
</br>
Clueでは学校に行けないことで悩まれていることに対する知識があるカウンセラーの方々を集めることで、せっかく勇気を持ってカウンセリングにいったけど逆にストレスになってしまったという子たちを少しでも減らしていこうと考えています。</h2>
<h2 class="bg-danger">また、日記機能やメールのやりとりなどは無料なので相談にのってあげてください。</h2>
</div>


