<h1>特定商取引法に基づく表記</h1>
<table class="table table-bordere">
    <tr>
        <th class="col-xs-3 col-ms-4 col-md-6 col-lg-5">運営会社</th>
        <td>株式会社Marianne</br>
　　　　　　代表取締役　河合　未緒</br>
            所在地　東京都墨田区菊川1-12-12-101</br>
            <%= link_to "お問い合わせフォームからお問い合わせ下さい。",contact_path %>
            </td>
    </tr>
    <tr>
        <th>販売価格</th>
	    <td>各サービスの販売価格は各ページに記載しております。（表示価格は消費税込みの金額です）</td>
	</tr>
	<tr>
	    <th>支払方法</th>
	    <td>クレジットカード決済。クレジットカードでのお支払い以外は銀行振込でも支払うことが出来ます。</td>
	</tr>
	<tr>
	    <th>支払時期</th>
	    <td>商品（チケット）購入の前</td>
	</tr>
	<tr>
	    <th>商品の提供時期</th>
	    <td>商品（チケット）購入申込時に指定した日時</td>
	</tr>
	<tr>
	    <th>キャンセル時の対応</th>
	    <td>商品（チケット）購入後のキャンセルはできません。</br>
	    ただし、支払済のチケットに記載の内容が、チケット発行者の都合によって提供されなかった場合、
	    速やかに事実関係を調査した上で返金いたします。</td>
	</tr>
	<tr>
	    <th>個人情報の取扱いについて</th>
	    <td>個人情報の取扱いに関しては、<%= link_to "プライバシーポリシー をご参照ください。",privacy_path %></td>
	</tr>
	</table>