<div class="container">
<h1 class="bg-primary">学校に行けないことでお子様が心配でたまらない親御様方へ</h1>
<h2 class="bg-info">Clueは、学校に行けないことで悩んでいる子たち・親御様×同じ経験をした先輩・専門のカウンセラーをマッチングするサイトです。</h2>
<h2 class="bg-success">お子様が心配でたまらないけど、どうすればいいかわからない。</br>
この先、自分の子供が自立してちゃんと前を見て歩いて行けるんだろうか。</br>
親が生きてるうちはいいけどその後が心配。</br>
</br>
Clueではそんな親御様に対して、かつて同じ経験をした人生の先輩や専門のカウンセラーと繋がることで、少しでも気持ちの整理がつけれたり楽になれればと思います。</h2>
<h2 class="bg-danger">また、日記機能やメールのやりとりなどは無料なので相談にのってもらってください。</h2>
</div>