<h1>Clueプライバシーポリシー</h1>
<div class=privacy>
<p>株式会社Marianne（以下「当社」といいます。）は、当社が提供する「Clue」（以下「本サービス」といいます。）において当社が取得するお客様に関する情報（以下「お客様情報」といいます。）を、以下のとおり取り扱います。</p>
<h3>第１条 （総則）</h3>
<p><b>1.</b>当社は、お客様情報の保護実現のため、個人情報保護法その他関連する法令等を遵守いたします。</p>
<p><b>2.</b>Clueプライバシーポリシー（以下「本ポリシー」といいます。）は、本サービス（本サービスに付随して当社が提供するサービスを含みます。）に適用されます。また、当社が、当社の運営するウェブサイト上に掲載するプライバシーポリシーその他の個人情報保護方針又はClueに関する利用規約等においてお客様情報の取扱いについて規定する場合、当該規定も適用されるものとし、当該規定等が本ポリシーと抵触する場合には、本ポリシーが優先されるものとします。</p>
<p><b>3.</b>本サービスに関連する当社以外の者が提供するサービス（以下「外部サービス」といいます。）については、本ポリシーの規定は適用されません。これらのサービスにおけるお客様情報の取扱いについては、当該サービスを提供する事業者が別途定めるプライバシーポリシー等をご参照ください。</p>
<h3>第２条	（取得する情報）</h3>
<p><b>1.</b> 当社は、本サービスにおいて、以下に定める通り、個人情報（個人情報保護法第２条第１項により定義された「個人情報」をいい、以下同様とします。）を含むお客様情報を取得します。</p>
<p><b>(1) お客様にご提供いただく情報</b></p>
<p>ア メールアドレス
アカウント登録、ご本人確認、不正利用の防止のため、これらの情報をお客様にご登録いただきます。</p>
<p>イ 氏名、住所、生年月日、性別、クレジットカード情報、その他当社が指定する情報
サービス提供のため、これらの情報をお客様にご登録いただきます。</p>
<p><b>(2) 本サービスのご利用時に当社が収集する情報</b></p>
<p>ア 端末情報
当社は、本サービスの実施上必要なシステムの運用、本サービスの維持及び改善、又は不正行為防止のため、お客様が使用する端末固有の情報（端末固有のID 等の個体識別情報等）を収集することがあります。</p>
<p>イ	ログ情報及び行動履歴情報
当社は、当社サービスの運用、維持及び改善、又は不正行為防止のため、当社サービスの利用時に自動で生成、保存されるIPアドレス、お客様からのリクエスト日時、当社サービス内での操作履歴に関する情報を収集することがあります。</p>
<p><b>２.</b>当社は、お客様情報の取得にあたっては、偽りその他不正の手段によらず、適正に取得します。また、当社は、お客様が本サービスを利用することによる取得以外の方法でお客様情報を取得する場合には、その利用目的を事前に通知又は公表します。</p>
<h3>第３条 （利用目的）</h3>
<p><b>１.</b>当社は、本サービスに基づき取得したお客様情報を、下記の目的の範囲内で適正に取り扱います。お客様ご本人の同意なく利用目的の範囲を超えて利用することはありません。</p>
<table class="table table-bordered">
    <tr>
<th>利用目的</th>
<th>利用目的詳細</th>
<th>利用する情報</th>
</tr>
<tr>
<td>本サービスの提供・維持・改善</td>
<td><p>・本サービスにおけるご本人確認及び不正利用の防止のため</p>
<p>・本サービスの円滑な提供、維持及び改善のため</p></td>
<td><p>■基礎情報</br>
メールアドレス</p>
<p>■その他登録情報</br>
氏名、生年月日、性別、クレジットカード情報、その他のプロフィール情報</p>
<p>■ログ情報及び行動履歴情報</p>
<p>■位置情報</p></td>
</tr>
<td>お客様への通知・対応等</td>
<td>・本サービスに関するご案内、お問い合わせ等への対応のため</br>
・本サービスに関連する新たなサービスの通知又は提供のため</br>
・本サービスの利用規約又は本ポリシーの変更、本サービスの停止・中止・契約解除その他本サービスに関する重要なお知らせ等の通知のため</td>
<td><p>■基礎情報</br>
・メールアドレス</p>
<p>■その他登録情報</br>
・氏名、生年月日、性別、その他のプロフィール情報</p></td>
</tr>
<tr>
<td>第三者提供</td>
<td>右に記載の情報の提供を受けた第三者は、当該情報を以下の目的のために利用します。</br>
・外部サービスの提供のため</br>
・お客様に合わせた広告情報等を表示するため</br>
・広告効果の分析のため</br>
・市場分析、マーケティングのため</td>
<td>・端末情報</br>
・ログ情報及び行動履歴情報</td>
</tr>
<tr>
<td>統計データの作成及び当該データの第三者への提供</td>
<td>当社は、右に記載の情報を、性別、年代、本サービスの利用状況の観点から分析することにより、個人を識別できない形式に加工した統計データ（統計データ）を作成するため当社から右記情報に関する統計データの提供を受けた第三者は、当該情報を以下の目的のために利用します。</br>
・広告効果の分析のため</br>
・市場分析、マーケティングのため</td>
<td>・端末情報</br>
・ログ情報及び行動履歴情報</br>
・位置情報</br>
・その他登録情報</br>
氏名、生年月日、性別、その他のプロフィール情報</td>
</tr>
</table>
<p><b>２.</b>当社は、前項の利用目的を、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当社が別途定める方法により、お客様に通知又は公表します。</p>
<h3>第４条 （第三者提供）</h3>
<p><b>１.</b>当社は、お客様情報のうち、個人情報については、以下の場合を除き、第三者に提供することはありません。</p>
<p>(1) お客様の同意を得た場合</br>
(2)	法令に基づく場合</br>
(3)	本サービス利用上、お客様が他人の利益を害しもしくは公序良俗に反する行為その他本サービスの利用規約に違反する行為を行い又はこれを行おうとするときに、当該行為に対して必要な措置をとる場合</br>
(4)	人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</br>
(5)	公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</br>
(6)	国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</br>
(7)	合併、会社分割、事業譲渡その他の事由によりお客様の個人情報を含む事業の承継がなされる場合</p>
<p><b>２</b>当社は、提携サービス提供のため、当社サービスと提携するサービス（以下「提携サービス」といいます。）を提供する事業者（以下「提携事業者」といいます。）に対し、お客様の同意を得たうえで、お客様情報を提供することができるものとします。</p>
<h3>第５条 （個人情報の取扱いの委託）</h3>
<p>当社は、お客様から取得した個人情報の全部又は一部の取扱いを第三者に委託（個人情報を含むデータの管理を委託する場合などを指します。）することがあります。この場合、当社は、当該委託先との間で本ポリシーに準じる内容の秘密保持契約等をあらかじめ締結するとともに、当該委託先において情報の適切な安全管理が図られるよう、必要かつ適切な監督を行います。</p>
<h3>第６条	（共同利用）</h3>
<p>当社は、提携事業者その他の第三者との間で、提携サービスの提供に必要な範囲において、お客様の個人情報を共同利用することがあります。この場合、当社は、あらかじめ、提携事業者の名称、共同利用目的、共同利用する情報の種類を公表するものとします。</p>
<h3>第７条	（情報収集モジュール）</h3>
<p>本サービスには、本サービスの利用状況及び本サービスを含むサービス又は商品に関する広告効果等の情報を解析するため、以下の情報収集モジュールが組み込まれています。これに伴い、当社は、以下の情報収集モジュールの提供者に対しお客様情報の提供を行う場合があります。これらの情報収集モジュールは、Cookie等を利用し、個人を特定する情報を含むことなくお客様情報を収集し、収集された情報は、各情報収集モジュール提供者の定めるプライバシーポリシーその他の規定に基づき管理されます。</p>
<p>名称　：Google Analytics</br>
提供者：Google Inc.</br>
プライバシーポリシー：http://www.google.com/intl/ja/policies/privacy/</p>
<h3>第８条 （行動ターゲティング広告）</h3>
<p><b>１.</b>当社は、当社又は広告配信事業者等の第三者による行動ターゲティング広告（お客様の状況に合わせて広告を配信する広告手法をいいます。）の実施のため、本サービス又は提携サービスの提供に際し、以下の情報を収集し、これを蓄積又は利用します。</p>
<p>(1) 行動履歴情報（氏名、住居、生年月日、本サービスの利用履歴等に基づき、個人を特定できない形に加工して取得された情報であって、かつ、それを蓄積することによりお客様に適合した広告・サービス等の提供に役立てることができる情報をいいます。）</br>
(2)	端末情報</br>
(3)	位置情報</p>
<p><b>２.</b>当社は、前項に基づき収集した情報を、お客様に合わせてカスタマイズした最適な広告を配信することにより、お客様に有益な情報を届けることを目的として、行動ターゲティング広告を配信する事業者（以下「広告配信事業者」といいます。）に提供します。</p>
<p><b>３.</b>広告配信事業者による各情報の取扱いについては、広告配信事業者の定めるプライバシーポリシーその他の条件に従うものとします。</p>
<h3>第９条 （本ポリシーの変更）</h3>
<p><b>１.</b>当社は、お客様情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、随時本ポリシーを変更することがあります。</p>
<p><b>２.</b>変更後の本ポリシーについては、本サービス上又は当社の運営するウェブサイトでの掲示その他分かりやすい方法により告知します。ただし、法令上お客様の同意が必要となるような内容の変更を行うときは、別途当社が定める方法により、お客様の同意を取得します。</p>
<h3>第１０条 （お問い合わせ）</h3>
<p>当社のお客様情報の取扱いに関するご意見、ご質問、苦情のお申出その他お客様情報の取扱いに関するお問い合わせ（個人情報の開示、訂正、利用停止、削除等に関するお問い合わせを含みます。）は、下記お問い合わせフォームからご連絡ください。</p>
<%= link_to 'お問い合わせフォーム', '/contact' %></p>
<p>制定日：2016年4月1日</p>
</div>
