<div class="container">
<h1 class="bg-primary">学校に行けないことで悩んでいる方へ</h1>
<h2 class="bg-info">Clueは、学校に行けないことで悩んでいる子たち・親御様×同じ経験をした先輩・専門のカウンセラーをマッチングするサイトです。</h2>
<h2 class="bg-success">外に出たいけど出る勇気がわかない。</br>
この気持ちを誰かにわかってもらいたいけど相談する人がいない。</br>
親に学校に行かなくても大丈夫だということを伝えたい。</br>
</br>
Clueではそんな同じ経験をした人生の先輩方や専門のカウンセラーと繋がることで、少しでも生きる楽しさや希望を見つけて頂ければと思います。</h2>
<h2 class="bg-danger">また、日記機能やメールのやりとりなどは無料なので相談にのってもらってください。</h2>
</div>