<div class="container">
<h1 class="bg-primary">かつて学校に行けないことで悩んでいた先輩方へ</h1>
<h2 class="bg-info">Clueは、学校に行けないことで悩んでいる子たち・親御様×同じ経験をした先輩・専門のカウンセラーをマッチングするサイトです。</h2>
<h2 class="bg-success">元不登校生で当時は本当に辛い思いをした。</br>
同じ経験をした子たちを少しでも助けてあげたい。</br>
味方になってあげる唯一無二の存在になりたい。</br>
</br>
Clueでは悩んでいる子どもたちやその親御さんと繋がることで、かつて自分たちが辛い思いをした経験を活かす場として活用して下さい。</h2>
<h2 class="bg-danger">また、日記機能やメールのやりとりなどは無料なので相談にのってあげてください。</h2>
</div>
