<h1>Clue利用規約</h1>
<div class=privacy>
<p>この規約（以下「本規約」といいます。）は、株式会社Marianne（以下「当社」といいます。）が提供するサービス「Clue」（以下「本サービス」といいます。）の利用に関する条件を定めるものであり、本規約第４条の規定に従いユーザー登録を完了したすべての利用者（以下「ユーザー」といいます。）に適用されます。本サービスを利用する前に、本規約をよくお読みください。</p>

<h2>第１章　総則</h2>
<h3>第１条	（目的）</h3>
<p><b>1.</b>ユーザーは、本規約に従って本サービスを利用するものとし、本規約に同意しない限り本サービスを利用できません。本サービスに関して当社が配布、配信する文書等に規定する内容は、当該ユーザーとの間で本規約の一部を構成するものとします。</p>
<p><b>2.</b>第４条の規定に従いユーザーが本規約に同意してユーザー登録を完了した時点で、当該ユーザーと当社との間で、ユーザー向けサービス利用契約（以下「本利用契約」といいます。）が成立します。</p>
<h3>第２条	（本規約の改定・変更）</h3>
<p><b>１.</b>当社は、当社の判断において、いつでも本規約の内容を変更又は追加できるものとします。変更後の利用規約は、当社が別途定める場合を除いて、当社の運営するウェブサイト（http://XXXXXXXXXXXX/（理由の如何を問わず、当該ウェブサイトのドメイン又は内容が変更された場合は、当該変更後のドメイン等を含みます。）以下「当社ウェブサイト」といいます。）に掲示された時点より効力を生じるものとします。</p>
<p><b>２</b>ユーザーが本規約の変更後も本サービスの利用を継続し又は本サービスを退会しない場合、当該ユーザーは、変更後の本規約に同意したものとみなされます。ユーザーは、随時、本規約の最新の内容を確認の上、本サービスをご利用ください。</p>

<h3>第３条	（定義）</h3>
<p>本規約において、次の各号に掲げる用語の意義は、当該各号に定めるところによるものとします。</p>
<p><b>(1)</b>「相談チケット」</br>
本サービス上においてメンターが提供する役務の内容を記載した証憑をいいます。</p>
<p><b>(2)</b>「チケットサービス」</br>
本サービス上において、メンターがゲストに対して提供する役務をいいます。</p>
<p><b>(3)</b>「ゲスト」</br>
本サービスにおいて、当社が別途定めるところによりゲスト登録申請を行い、当社が当該申請を承認した個人をいいます。</p>
<p><b>(4)</b>「メンター」</br>
本サービスにおいて、当社が別途定めるところによりメンター登録申請を行い、当社が当該申請を承認した個人をいいます。</p>
<p><b>(5)</b>「コンテンツ」</br>
ユーザーが本サービスを通じてアクセスすることができる情報（文章、画像、動画、音声、音楽その他のサウンド、イメージ、ソフトウェア、プログラム、コードその他のデータを含みますが、これらに限られません。）をいいます。</p>
<p><b>(6)</b>「ユーザーコンテンツ」</br>
本サービスのユーザーが本サービスの利用にあたって投稿又は送信するコンテンツをいいます。</p>

<h2>第２章　ゲスト</h2>

<h3>第４条	（ゲスト登録）</h3>
<p><b>１.</b>本サービスの利用を希望するユーザーは、本規約を遵守することに同意し、当社の定める方法に従い情報を当社に提供することにより、ゲスト登録の申請をすることができます。かかる申請があった場合、当社は、別途当社の定める審査基準に従って審査し、当該申請を承諾する場合には、その旨の通知を行います。</p>
<p><b>２.</b>未成年者が本サービスのゲスト登録をする場合には、法定代理人の同意が必要となります。未成年者がゲスト登録を完了した時点で、本サービスの利用及び本規約の内容について、法定代理人の同意があったものとみなします。</p>
<p><b>３.</b>未成年者が、法定代理人の同意がないにもかかわらず同意があると偽り又は年齢について成年と偽って本サービスを利用した場合その他行為能力者であることを信じさせるために詐術を用いた場合、本サービスに関する一切の法律行為を取り消すことができません。</p>

<h3>第５条	（プロフィールページの作成）</h3>
<p>ゲストは、当社の定めるところに従い、プロフィールページを作成できます。自身のプロフィールページには、氏名、ニックネーム、プロフィール写真その他当社が定める所定の情報等を掲載することができるものとします。</p>

<h3>第６条	（相談チケットの購入）</h3>
<p><b>１.</b>ゲストは、当社の定めるところに従い、相談チケットを購入することができます（相談チケット購入完了時点で、次条に定めるチケットサービスが予約されるものとします。）。ゲストが相談チケットを購入する場合、当該チケットサービス記載のチケット代金を支払うものとします。</p>
<p><b>２.</b>チケット代金の支払いは、メンターから相談チケット代金の回収にかかる業務委託を受けた当社に対して行われます。ゲストがメンターに対し直接相談チケット代金を支払うことはできません。</p>

<h3>第７条	（予約のキャンセル・異議の申立て）</h3>
<p><b>１.</b>ゲストは、前条第１項の設定完了後は、原則として当該チケットサービスのキャンセル又は相談時間の変更をすることはできません。やむを得ず相談時間の変更又はキャンセルをする場合には、別途当社が定める手順に従うものとします。</p>
<p><b>２.</b>ゲストは、チケットサービスが提供されてから２４時間以内に限り、チケットサービスについての異議を当社に対して述べることができるものとします（以下当該期間を「異議申出期間」といいます。）。ゲストがかかる異議を述べた場合において、メンターがチケットサービスの提供を怠っていた等、当社がゲストの異議に理由があると認める場合には、当社が別途定めるところに従い、ゲストが支払った相談チケット代金をゲストに返還します。この場合、ゲストは、返還される金額から返還に際して当社が負担した費用が控除される場合があることに、あらかじめ同意するものとします。異議申出期間中にゲストから異議が述べられなかった場合には、メンターが適切なチケットサービスの提供を行ったものとみなし、以後ゲストは異議を述べることはできないものとします。</p>

<h2>第３章　メンター</h2>

<h3>第８条	（メンター登録）</h3>
<p><b>１.</b>本サービスの利用を希望するユーザーは、本規約を遵守することに同意し、当社の定める方法に従い情報を当社に提供することにより、メンター登録の申請をすることができます。かかる申請があった場合、当社は、別途当社の定める審査基準に従って審査し、当該申請を承諾する場合には、その旨の通知を行います。</p>
<p><b>２.</b>前項の場合、当社は、審査に必要な書類の提出を求めることがあり、メンターは、当該書類を速やかに提出するものとします。メンターが当該書類を提出しない場合には、当社は、メンター登録を拒否することができるものとします。</p>
<p><b>３.</b>未成年者が本サービスのメンター登録をする場合には、法定代理人の同意が必要となります。未成年者がメンター登録を完了した時点で、本サービスの利用及び本規約の内容について、法定代理人の同意があったものとみなします。</p>
<p><b>４.</b>未成年者が、法定代理人の同意がないにもかかわらず同意があると偽り又は年齢について成年と偽って本サービスを利用した場合その他行為能力者であることを信じさせるために詐術を用いた場合、本サービスに関する一切の法律行為を取り消すことができません。</p>

<h3>第９条	（プロフィールページの作成）</h3>
<p><b>１.</b>メンターは、当社の定めるところに従い、プロフィールページを作成する必要があります。自身のプロフィールページには、氏名、ニックネーム、自己紹介文、プロフィール写真、不登校になっていた時期・理由、不登校を克服したきっかけその他の自己に関する情報（以下、総称して「メンター情報」といいます。）を掲載しなければなりません。</p>
<p><b>２.</b>メンターは、メンター情報の掲載にあたって、以下の事項を遵守するものとします。</p>
<p><b>(1)</b>自己に関する真実かつ正確な情報を提供すること</p>
<p><b>(2)</b>メンター情報に誤りがあった場合又は変更が生じた場合、速やかにメンター情報を修正又は変更すること</p>
<p><b>(3)</b>その他当社が不適切と判断する情報を掲載しないこと</p>

<h3>第１０条	（相談チケットの作成）</h3>
<p><b>１.</b>メンターは、当社の定めるところに従い、相談チケットを作成することができるものとします。当社は、当社の基準に従って、相談チケット内容を判断し、当社がチケットサービスを認める場合にはその旨をメンターに通知し、この通知により相談チケットの登録が完了するものとします。</p>
<p><b>２.</b>メンターは、相談チケットの作成にあたっては、事前に十分に予定を確認し、ユーザーが相談チケットを購入した場合には自らの予定を調整できるよう配慮するものとします。</p>
<p><b>３.</b>当社は、前項に基づき作成された相談チケットが、以下の各号のいずれかの事由に該当する場合は、登録を削除することがあります。</p>
<p><b>(1)</b>本規約に違反するおそれがあると当社が判断した場合</p>
<p><b>(2)</b>当社に提供された情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</p>
<p><b>(3)</b>その他、当社が登録を適当でないと判断した場合</p>
<p><b>４.</b>メンターは、当社の事前の書面による承諾を得ない限り、自ら設定したチケットサービスを提供しなければならず、第三者に再委託してはならないものとします。メンターは、当社の事前の書面による承諾を得て第三者に再委託をした場合であっても、当該チケットサービスについて一切の責任を負うものとします。</p>

<h3>第１１条	（予約のキャンセル）</h3>
<p>メンターは、前条第１項の設定完了後は、原則として当該チケットサービスのキャンセル又は相談時間の変更をすることはできません。やむを得ず相談時間の変更又はキャンセルをする場合には、別途当社が定める手順に従うものとします。</p>

<h3>第１２条	（チケット代金（相談料））</h3>
<p><b>１.</b>メンターは、別途当社が定める所定の料金選択方法に従いに従い、当社ウェブサイト上において、自らが提供する相談チケットの代金を定めることができます。</p>
<p><b>２.</b>メンターは、ゲストからの相談チケット代金の回収にかかる業務を当社に委託するものとし、メンターがゲストより直接相談チケット代金を受け取ることはできません。メンターがゲストに対しチケットサービスを提供した場合、当社は、当該チケットサービスの提供に対するチケット代金からプラットフォーム手数料を控除した残額を、相談料としてメンターが別途指定する金融機関口座に振り込むものとします。</p>
<p><b>３.</b>前項の支払いは、ゲストから当社への相談チケット代金の支払いが行われる都度自動的に行われるものではありません。当社からメンターへの支払いは、メンターが受領する相談料が一定の支払可能額以上になった場合について、メンターが支払可能代金の振込申請を所定の方法で行うことで行われるものとします。なお、振込手数料等の支払いに要する費用は、メンターが負担するものとします。</p>
<p><b>４.</b>本サービスでは、別途当社が定める基準に従い、ゲストがメンターに対する相談チケット代金の支払い義務を免れる場合があります。メンターは、かかる場合において、代金を受け取ることができなくなることをあらかじめ同意するものとします。</p>

<h3>第１３条	（プラットフォーム手数料）</h3>
<p><b>１.</b>メンターは、本サービス利用の対価として、別途当社の定めるところに従い、所定のプラットフォーム手数料を支払うものとします。</p>
<p><b>２.</b>当社は、いつでも、プラットフォーム手数料の価格を変更することができるものとします。当該価格を変更する場合、当社は、メンターに対し、変更後の価格を適用する月の前月の１４日までにこれを通知するものとし、メンターが退会手続を行わない場合、メンターは当該変更後の価格に同意したものとみなします。</p>

<h2>第４章　共通条項</h2>

<h3>第１４条	（当社の立場とチケットサービスの合意）</h3>
<p><b>１.</b>ゲストが、相談チケットを購入した場合、ゲスト・メンター間でチケットサービスの諸条件を設定するものとし、かかる設定完了時点で、当該メンターと当該ゲストとの間で合意した場所、時間において、メンターがゲストから相談を受ける旨の合意が成立したものとします。</p>
<p><b>２.</b>当社は、ゲストとメンターとのマッチングのためのプラットフォームを提供するものであり、当該チケットサービスの提供について、当事者若しくは代理人となるものではありません。ただし、当社は、プラットフォーム提供者として、当社の裁量に基づき、各チケットサービスに対して制限又は制約を加える場合があり、ユーザーはこれにあらかじめ同意するものとします。</p>
<p><b>３.</b>当社は、ゲスト・メンター間で行われる連絡その他一切の交渉に関与しません。万一、ゲストとメンターその他の第三者との間で紛争や問題が生じた場合、ユーザーは、直ちにその旨を当社に通知するとともに、自己の責任と費用においてこれを解決するものとし、当社はこれに一切関与せず、何ら責任を負わないものとします。</p>

<h3>第１５条	（ユーザーに関する情報の取扱い）</h3>
<p><b>１.</b>当社は、登録情報、プロフィール情報その他本サービスの利用に関しユーザーから収集する情報を、別途当社が定めるプライバシーポリシーに従い、適切に取り扱います。</p>
<p><b>２.</b>自己に関する情報に誤りがあった場合又は変更が生じた場合、ユーザーは、自己の責任において、速やかに当該情報を修正又は変更するものとし、情報の内容に虚偽、誤り又は記載漏れがあったことによりユーザーに損害が生じたとしても、当社は一切責任を負いません。</p>

<h3>第１６条	（アカウントの管理）</h3>
<p><b>１.</b>ユーザーは、自己の責任においてアカウントを管理・保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはなりません。当社は、当該アカウントの一致を確認した場合、当該アカウントを保有するものとして登録されたユーザーが本サービスを利用したものとみなします。</p>
<p><b>２.</b>アカウントの管理不十分又は第三者の使用等による損害の責任は、ユーザーが負うものとし、当社は一切の責任を負いません。</p>
<p><b>３.</b>ユーザーは、アカウントが盗用され又は第三者に使用されていることが判明した場合には、直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。</p>

<h3>第１７条	（権利の帰属）</h3>
<p><b>１.</b>本サービス上のコンテンツ（ユーザーコンテンツを除きます。以下同じ。）に関する一切の知的財産権は、当社又は当社にライセンスを許諾している者に帰属するものとします。</p>
<p><b>２.</b>当社は、ユーザーに対し、本サービス及び各コンテンツにつき、本サービスの利用に必要な範囲における非独占的な利用を許諾します。ただし、かかる利用許諾は、第三者に対し再使用許諾する権利を含むものではなく、本規約で明示する場合を除き、ユーザーに対し、各コンテンツについての知的財産権、所有権類似の権利又は自由に処分しうる権利その他の権利の譲渡又は付与を意味するものではありません。</p>
<p><b>３.</b>本サービス上、当社の商標、ロゴ及びサービスマーク等（以下、総称して「商標等」といいます。）が表示される場合がありますが、当社は、ユーザーその他の第三者に対し、商標等を譲渡し、又は本規約で明示する以外の使用を許諾するものではありません。</p>

<h3>第１８条	（ユーザーコンテンツ）</h3>
<p><b>１.</b>ユーザーは、ユーザーコンテンツについて、自らが投稿その他の方法によりコンテンツを送信することについての適法な権利を有していること、及びユーザーコンテンツが第三者の知的財産権、所有権その他の権利を侵害していないことについて、当社に対し表明し、保証するものとします。</p>
<p><b>２.</b>本サービスにおいて、ユーザーが投稿、アップロード又は保存した一切のユーザーコンテンツに関する著作権は、当該投稿等を行ったユーザー自身又は当該ユーザーに権利許諾した第三者に留保されるものとし、当社はユーザーコンテンツに関する著作権を取得することはありません。ただし、当社は、本サービスの提供・維持・改善又は本サービスのプロモーションに必要な範囲において、ユーザーコンテンツを複製、翻案、自動公衆送信及びそのために必要な送信可能化を、無償、無期限かつ地域非限定で行うことができるものとします。</p>
<p><b>３.</b>ユーザーは、当社及び当社から権利を承継し又は許諾された者に対し、著作者人格権を行使しないことに同意するものとします。</p>

<h3>第１９条	（直接契約の禁止）</h3>
<p>ユーザーは、ユーザー同士で、本サービスを利用することなく、チケットサービスその他これに類する役務の提供をその内容とする業務委託契約その他の契約（名称を問いません。）を締結すること及びその勧誘を行ってはならないものとします。</p>

<h3>第２０条	（禁止行為）</h3>
<p><b>１.</b>前条に定める他、ユーザーは、本サービスの利用にあたり、自ら又は第三者をして、以下の各号のいずれかに該当する行為をしてはならず、また、以下の各号の行為を直接又は間接に惹起し、又は容易にしてはなりません。</p>
<p><b>(1)</b>当社、他のユーザーその他の第三者に対する詐欺又は脅迫行為</p>
<p><b>(2)</b>当社、他のユーザーその他の第三者に対する誹謗中傷行為</p>
<p><b>(3)</b>当社、他のユーザーその他の第三者の知的財産権、肖像権、プライバシー、その他の権利若しくは利益を侵害する行為又はそのおそれのある行為</p>
<p><b>(4)</b>前三号の他、当社、他のユーザーその他の第三者に対する迷惑行為、嫌がらせ行為等、第三者に精神的被害・経済的被害を与える可能性のある行為</p>
<p><b>(5)</b>本サービスを、社会実験、研究、調査又は観察等の目的で使用する行為</p>　
<p><b>(6)</b>本サービスを、ゲストの友人又は教師等学校関係者が、ゲストに連絡をとる目的で使用する行為</p>
<p><b>(7)</b>法令、裁判所の判決、決定若しくは命令、又は法令上拘束力のある行政措置に違反する行為及びこれらを助長する行為又はそのおそれのある行為</p>
<p><b>(8)</b>犯罪予告、犯罪の指南その他犯罪行為に関連する行為又は公序良俗に反する行為</p>
<p><b>(9)</b>異性交際を目的として本サービスを利用する行為</p>
<p><b>(10)</b>他のユーザーその他の第三者の個人情報を本人の許可無く公開する行為</p>
<p><b>(11)</b>本サービスを通じ、以下に該当し又は該当すると当社が判断した情報を本サービス上に送信又は投稿する行為</p>
<p><b>ア</b>薬物・危険ドラッグの売買に関する情報若しくはこれらの不適切な利用を助長する表現</p>
<p><b>イ</b>チェーンメール、無限連鎖講、リードメールその他の違法な勧誘、宣伝等</p>
<p><b>ウ</b>残虐な表現、性的な表現その他、他人に不快感を与えるおそれのある情報</p>
<p><b>エ</b>上記に類する情報その他当社が不適切と判断する情報</p>
<p><b>(12)</b>本サービスを逆アセンブル、逆コンパイル、リバースエンジニアリング</p>
<p><b>(13)</b>本サービスのシステムに権限なく不正にアクセスする行為又は当該システム上の情報を不正に書き換え若しくは消去する行為</p>
<p><b>(14)</b>当社又は他のユーザーに成りすます行為</p>
<p><b>(15)</b>他のユーザーのアカウントを利用して本サービスを利用する行為</p>
<p><b>(16)</b>反社会的勢力等への利益供与行為及びこれにつながる可能性のある行為</p>
<p><b>(17)</b>その他、当社が不適切と判断する行為</p>
<p><b>２.</b>当社は、ユーザーが前項各号に該当し又は該当するおそれがあると当社が判断した場合その他当社が必要と認める場合には、ユーザーに対し、違反行為の中止を求めることがあり、ユーザーは、当社が定める期間内に当該求めに応じるものとします。</p>
<p><b>３.</b>当社は、本条に基づき当社が行った措置によりユーザーに生じた不利益や損害について一切の責任を負いません。</p>

<h3>第２１条	（規約違反の場合の措置等）</h3>
<p><b>１.</b>当社は、ユーザーが次の各号の一に該当し又は該当するおそれがあると当社が判断した場合には、当社の裁量により、何らの通知も行うことなく、本サービスの利用の一時停止若しくは制限、アカウントの削除等の措置（以下「利用停止等」といいます。）を講じることができるものとします。</p>
<p><b>(1)</b>本規約のいずれかの条項に違反し、又は違反したとの通報を受けた場合</p>
<p><b>(2)</b>当社に提供された情報の全部又は一部につき虚偽の事実があることが判明した場合</p>
<p><b>(3)</b>ユーザーが支払停止若しくは支払不能となり、又は破産手続開始若しくはこれらに類する手続の開始の申立てがあった場合</p>
<p><b>(4)</b>ユーザーが死亡し又は後見開始、保佐開始若しくは補助開始の審判を受けた場合</p>
<p><b>(5)</b>ユーザーが未成年者、成年被後見人、被保佐人又は被補助人のいずれかであって、法定代理人、後見人､保佐人又は補助人の同意等を得ていないことが判明した場合</p>
<p><b>(6)</b>当社からの問い合わせその他の回答を求める連絡に対して３０日間以上応答がない場合</p>
<p><b>(7)</b>反社会的勢力等であるか、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っている場合</p>
<p><b>(8)</b>本サービスの運営、保守管理上必要である場合</p>
<p><b>(9)</b>その他前各号に類する事由がある場合</p>
<p><b>２</b>ユーザーは、利用停止等の後も、当社及び第三者に対する本利用契約上の一切の義務及び債務を免れるものではありません。</p>
<p><b>３</b>当社は、本条に基づき当社が行った措置によりユーザーに生じた損害について一切の責任を負いません。</p>

<h3>第２２条	（損害賠償）</h3>
<p><b>１.</b>ユーザーによる本規約違反行為その他本サービスの利用に起因して、当社に直接又は間接の損害が生じた場合（当該行為が原因で、当社が第三者から損害賠償請求その他の請求を受けた場合を含みます。）、ユーザーは、当社に対し、その全ての損害（弁護士等専門家費用及び当社において対応に要した人件費相当額を含みます。）を賠償しなければなりません。</p>
<p><b>２.</b>当社は、本サービスの利用に関連してユーザーが被った損害につき、一切の責任を負いません。ただし、本利用契約が消費者契約に該当する場合であって、当社が、過失（重過失を除きます。）による債務不履行責任又は不法行為責任を負う場合、当社は、ユーザーに現実に発生した直接かつ通常の損害に限り責任を負うものとします。</p>

<h3>第２３条	（秘密保持）</h3>
<p><b>１.</b>ユーザーは、当社の事前の書面による承諾がある場合を除き、本サービスに関連して当社が秘密である旨指定して開示した非公知の情報を秘密に取り扱うものとします。</p>
<p><b>２.</b>ユーザーは、当社から求められた場合はいつでも、当社の指示に従い、遅滞なく、前項の情報及び当該情報を記載又は記録した書面その他の記録媒体物並びにその全ての複製物等を返却又は廃棄しなければなりません。</p>

<h3>第２４条	（本サービスの利用終了）</h3>
<p><b>１.</b>ユーザーは、アカウントの削除その他当社の定める方法により、いつでも本サービスを退会することができます。本サービスを退会したユーザーは、退会の時点から本サービスを利用することができなくなります。</p>
<p><b>２.</b>ユーザーは、本サービス退会後も、当社及び第三者に対する本利用契約上の一切の義務及び債務を免れるものではなく、当社は、ユーザーが本サービスを退会した場合でも、当社が取得したユーザーコンテンツその他の情報を利用できるものとします。</p>
<p><b>３.</b>当社は、当社の裁量により、あらかじめ通知することなく、最終のアクセスから１年以上経過しているアカウントを削除することができるものとします。</p>

<h3>第２５条	（本サービスの変更・中断・終了等）</h3>
<p><b>１.</b>当社は、ユーザーに事前に通知することなく、本サービスの内容の全部又は一部を変更又は追加することができるものとします。</p>
<p><b>２.</b>当社は、事前に、本サービス上又は当社の運営するウェブサイト上への掲示その他当社が適当と判断する方法でユーザーに通知することにより、当社の裁量で、本サービスを終了することができるものとします。ただし、緊急の場合はユーザーへの通知を行わない場合があります。</p>
<p><b>３.</b>当社は、以下各号の事由が生じた場合には、ユーザーに事前に通知することなく、本サービスの一部又は全部を一時的に中断することができるものとします。</p>
<p><b>(1)</b>本サービス用の通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合</p>
<p><b>(2)</b>アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合</p>
<p><b>(3)</b>ユーザーのセキュリティを確保する必要が生じた場合</p>
<p><b>(4)</b>電気通信事業者の役務が提供されない場合</p>
<p><b>(5)</b>天災等の不可抗力により本サービスの提供が困難な場合</p>
<p><b>(6)</b>火災、停電、その他の不慮の事故又は戦争、紛争、動乱、暴動、労働争議等により本サービスの提供が困難な場合</p>
<p><b>(7)</b>法令又はこれらに基づく措置により本サービスの運営が不能となった場合</p>
<p><b>(8)</b>その他前各号に準じ当社が必要と判断した場合</p>
<p><b>４.</b>当社は、本条に基づき当社が行った措置によりユーザーに生じた損害について一切の責任を負いません。</p>

<h3>第２６条	（保証の否認及び免責）</h3>
<p><b>１.</b>当社は、本サービス及び本サービスを通じて提供されるコンテンツその他一切の情報につき、ユーザーの特定の目的への適合性、商品的価値、正確性、有用性、完全性、適法性、ユーザーに適用のある団体の内部規則等への適合性を有すること、及びセキュリティ上の欠陥、エラー、バグ又は不具合が存しないこと、並びに第三者の権利を侵害しないことについて、如何なる保証も行うものではありません。</p>
<p><b>２.</b>当社は、本サービスが全ての情報端末及び情報端末のＯＳのバージョンに対応していることを保証するものではなく、本サービスの利用に供する情報端末のＯＳのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性があることにつき、ユーザーはあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。</p>
<p><b>３.</b>当社は、ユーザー間で行われる連絡その他一切の交渉につき関与しません。万一、ユーザー間に紛争や問題が生じた場合、ユーザーは、直ちにその旨を当社に通知するとともに、自己の責任と費用においてこれを解決するものとし、当社はこれに一切関与せず、何ら責任を負わないものとします。</p>

<h3>第２７条	（権利義務の譲渡）</h3>
<p><b>１.</b>ユーザーは、当社の書面による事前の承諾がある場合を除き、本利用契約に基づくユーザーの権利若しくは義務、又は本利用契約上の地位について、第三者への譲渡、承継、担保設定、その他一切の処分をすることはできません。</p>
<p><b>２.</b>当社が、本サービスにかかる事業を第三者に譲渡し、又は当社が消滅会社若しくは分割会社となる合併若しくは会社分割等により本サービスにかかる事業を包括承継させたときは、当社は、当該事業譲渡等に伴い、本サービスに関する利用契約上の地位、権利及び義務並びに登録情報その他のユーザーに関する情報を当該事業譲渡等の譲受人又は承継人に譲渡することができるものとし、ユーザーは、あらかじめこれに同意するものとします。</p>

<h3>第２８条	（分離可能性）</h3>
<p><b>１.</b>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、当該無効又は執行不能と判断された条項又は部分（以下「無効等部分」といいます。）以外の部分は、継続して完全に効力を有するものとします。当社及びユーザーは、無効等部分を、適法とし、執行力をもたせるために必要な範囲で修正し、無効等部分の趣旨及び法律的・経済的に同等の効果を確保できるように努めるものとします。</p>
<p><b>２.</b>本規約のいずれかの条項又はその一部が、あるユーザーとの関係で無効又は執行不能と判断された場合であっても、他のユーザーとの関係における有効性等には影響を及ぼさないものとします。</p>

<h3>第２９条	（準拠法及び合意管轄）</h3>
<p>本規約は日本法に準拠するものとし、本規約に起因し又は関連する一切の紛争については、訴額に応じ、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>

<p>2016年4月1日 制定</p>
</div>
